.linc {
 text-decoration: none;
} 

.list {
    list-style: none;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block
}
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.page-header {
    font-family: Raleway, sans-serif;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.div-header-container{
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.page-navigation-after{
    display: flex;
    align-items: center;
    

}
::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
   
}
.page-navigation {
    color: #404bbf;
}
.logotype {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:#4d5ae5;
    text-transform: uppercase; 
    margin-right: 76px;
  
    
}
.studio {
    color: #2e2f42;
   
}
.menu-nav{
    display: flex;
    gap: 40px;
   

}
.menu-list {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.menu-header {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-header:hover {
    color: #404bbf;
}
.menu-header:focus {
    color: #404bbf;
} 
.menu-linc {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.address {
    font-style: normal;
   

}
.address-nav{
    display: flex;
    gap: 40px;
    
}
.address-mail{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.address-tel {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.address-list {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list:hover {
    color: #404bbf;
}

.address-list:focus {
    color: #404bbf;
}
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpeg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-image-title {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    background: #2E2F42;
    max-width: 496px;
}
.button {
background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
display: block;
min-width: 169px;
height: 56px;
border: none;
background-color:#4d5ae5;
border-radius: 4px;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
background-color: #404BBF;
cursor: pointer;
}
.feature {
    padding: 120px 0;
}
.ok {
    overflow: hidden;
    position: absolute;
     width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}
.section-one {
     display: flex;
     gap: 24px;
   
}
.bloc-section-one {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: calc( (100% - 72px) / 4);
}
.cont-icon {
    display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
}
.title-section-one {
    margin-bottom: 8px;
    
    
}
.description-title-section-one {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-two {
    background-color: #F4F4FD;
    padding: 120px 0;

}
.title-section-two {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.list-section-two {
     gap: 24px;
     display: flex;
}
.people {
    background: #FFFFFF;
    flex-basis: calc( (100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.div-name-profession{
    padding: 32px 0;

}
.name {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}
.profession {

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-networks-list {
    width: 40px;
    height: 40px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social-networks-linc {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social-networks-linc:hover {
    background-color: #404bbf;
}
.social-networks-linc:focus {
    background-color: #404bbf;
}
.social-networks-icon {
    fill: #f4f4fd;
   
    
}
.section-three {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    line-height: 1.11;
    margin-bottom: 72px;
}
.section-three-block{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.portfolio-card {
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 500px;
    width: calc( (100% - 48px) / 3); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-cont {
    position: relative;
    overflow: hidden;

}
.img-portfolio {
    transition: box-shadow 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-par {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-par:hover {
    transform: translateY(0%);
}
.div-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.title-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.description-title{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.description-title:hover {
    transform: translateY(0%);

}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;

}
.container {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}
.logotype-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;

}
.studio-footer{
    color: #f4f4fd;

}
.description-footer {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.Social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    margin-bottom: 16px;

}
.social-cont {
    display: flex;
    gap: 16px;

}
.footer-social-linc {
    width: 40px;
    height: 40px;

}
.footer-social-icon {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-social-icon:hover,
.footer-social-icon:focus {
    background-color: #31d0aa;
    background-color: #31d0aa;
}
.footer-social-media-icon {
    fill:#f4f4fd;

}