/* MOBILE */

.hero {
    padding: 93px 0 99px 0;
    margin-left: auto;
    margin-right: auto;
}

.cont-icon {
    display: none;
}

.section-one {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-content: center;
    justify-items: center;

}

.bloc-section-one {
    width: 288px;
}

.title-section-one {
    color: #2E2F42;
    align-self: stretch;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.description-title-section-one {
    align-self: stretch;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* TABLET  */


@media screen and (min-width: 768px) {
    .feature {
        padding: 96px 0;
    }

    .bloc-section-one {
        width: 356px;
    }

    .section-one {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }



    .title-section-one {
        text-align: left;
    }

}


/* DESKTOP */

@media screen and (min-width: 1158px) {
    .bloc-section-one {
        background-color: #FFFFFF;
        column-gap: 24px;
        width: calc((100% - 72px) / 4);
    }

    .cont-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 264px;
        height: 112px;
        flex-shrink: 0;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
    }

    .description-list-icon {
        position: absolute;
        top: 24px;
        left: 100px;
    }

    .section-one {
        display: flex;
        gap: 24px;
    }

    .feature {
        padding: 120px 0;
    }


    .title-section-one {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .description-title-section-one {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

 .feature {
    padding: 120px 0;
}

.ok {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

.section-one {
    display: flex;
    gap: 24px;

}

.bloc-section-one {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: calc((100% - 72px) / 4);
}

.cont-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.title-section-one {
    margin-bottom: 8px;
    Font: Roboto;
    height: 500;
    Size: 20px;
    inset: height 24px;

}

.description-title-section-one {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
} 